# Put everything on the blacklist by default
*
*/**
**/.DS_Store
*/**/.DS_Store

# Whitelist
!clojure.tmLanguage.json
!html/**
!dist/**
!package.json
!assets/**
!README.md
!CHANGELOG.md
!LICENSE.txt

