{:remove-surrounding-whitespace? true
 :remove-trailing-whitespace? true
 :remove-consecutive-blank-lines? true


 :insert-missing-whitespace? true
 :align-associative? false
 :extra-indents {foo [[:inner 0]]}
 :test (foo 1
            2
            {:a a
             :aa a
             :bbb bbb})}