{:deps {org.clojure/clojure {:mvn/version "1.12.4"}
        org.clojure/clojurescript {:mvn/version "1.12.134"}
        rewrite-clj/rewrite-clj {:mvn/version "1.1.49"} ;; Temporary, while waiting for zprint to bump their deps
        zprint/zprint {:mvn/version "1.2.9"
                       :exclusions [rewrite-clj/rewrite-clj]}
        dev.weavejester/cljfmt {:mvn/version "0.16.4"
                                :exclusions [rewrite-clj/rewrite-clj]}
        thheller/shadow-cljs {:mvn/version "3.3.8"}
        org.clojars.liverm0r/dartclojure {:mvn/version "0.2.23-SNAPSHOT"}
        vvvvalvalval/supdate {:mvn/version "0.2.3"}
        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
        no.cjohansen/replicant {:mvn/version "2025.03.27"}
        #_#_org.clojars.liverm0r/dartclojure {:local/root "../DartClojure"}}
 :aliases {:dev {:extra-deps {org.clojars.abhinav/snitch {:mvn/version "0.1.14"}}}
           :ci {:jvm-opts ["-Xmx2g"]}
           :test {:extra-deps {tortue/spy {:mvn/version "2.15.0"}
                               nubank/matcher-combinators {:mvn/version "3.9.1"}}}}
 :paths ["src/cljs-lib/src"
         "src/cljs-lib/test"]}
