{:deps {zprint/zprint {:mvn/version "1.2.7"}
        dev.weavejester/cljfmt {:mvn/version "0.12.0"}
        thheller/shadow-cljs {:mvn/version "2.25.2"}
        org.clojars.liverm0r/dartclojure {:mvn/version "0.2.22-SNAPSHOT"}
        vvvvalvalval/supdate {:mvn/version "0.2.3"}
        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
        #_#_org.clojars.liverm0r/dartclojure {:local/root "../DartClojure"}}
 :paths ["src/cljs-lib/src"
         "src/cljs-lib/test"]}