version: 2
jobs:
  build:
    docker:
      - image: cimg/openjdk:17.0.1-node
    working_directory: ~/calva
    steps:
      - attach_workspace:
          at: /tmp
      - checkout:
          path: ~/calva
      - restore_cache:
          name: Restore dependencies
          key: ts-{{ checksum "package.json" }}-cljs-{{ checksum "shadow-cljs.edn" }}-grammar-{{ checksum "src/calva-fmt/atom-language-clojure/package.json" }}
      - run:
          name: Install node_modules
          command: cp package.json /tmp && npm install && cp /tmp/package.json .
      - run:
          name: Install CLJS dependencies
          command: npx shadow-cljs classpath
      - run:
          name: "Create artifacts workspace"
          command: mkdir /tmp/artifacts
      - run:
          name: "Create build workspace"
          command: mkdir /tmp/build
      - run:
          name: Tamper Calva version if not release versioned
          command: |
            VERSION=$(node -p 'require("./package.json").version')
            TAG_VERSION=NO-TAG
            if [[ "${CIRCLE_TAG}" =~ ^v([0-9]+\.[0-9]+\.[0-9]+)$ ]]
            then
              TAG_VERSION=${BASH_REMATCH[1]}
              echo 'No version tampering because this is a release tag'
            else
              COMMIT=${CIRCLE_SHA1:0:8}
              if [[  "${CIRCLE_TAG}" =~ ^v([0-9]+\.[0-9]+\.[0-9]+)-(.*) ]]
              then
                TAG_VERSION=${BASH_REMATCH[1]}
                TAG_TITLE=${BASH_REMATCH[2]}
                PRERELEASE=${TAG_TITLE}-${COMMIT}
              else
                BRANCH=${CIRCLE_BRANCH//[^[:alnum:]]/-}
                PRERELEASE=${BRANCH}-${COMMIT}
              fi
              echo "Append prerelease to version: -${PRERELEASE}"
              npx json -I -f package.json -e 'this.version=this.version.replace(/$/,"-'${PRERELEASE}'")'
            fi
            if [ ${TAG_VERSION} = NO-TAG -o "${TAG_VERSION}" = "${VERSION}" ]
            then
              VERSION=$(node -p 'require("./package.json").version')
              echo "Using version: ${VERSION}"
            else
              echo >&2 "FATAL! Version missmatch between package.json and tag. Aborting."
              exit 1
            fi
      - run:
          name: Package vsix
          command: npx vsce package --githubBranch published
      - run:
          name: Copy vsix
          command: |
            cp *.vsix /tmp/artifacts/
      - run:
          name: Copy build
          command: |
            cp -r . /tmp/build
      - save_cache:
          name: Save dependencies
          key: ts-{{ checksum "package.json" }}-cljs-{{ checksum "shadow-cljs.edn" }}-grammar-{{ checksum "src/calva-fmt/atom-language-clojure/package.json" }}
          paths:
            - ./node_modules
            - ~/.m2
      - store_artifacts:
          path: /tmp/artifacts
      - persist_to_workspace:
          root: /tmp
          paths:
            - artifacts
            - build
            - env
  test-grammar:
    working_directory: ~/calva
    environment:
      # Required:
      DISPLAY: ":99"
      # Configurable
      ATOM_LINT_WITH_BUNDLED_NODE: "true"
      APM_TEST_PACKAGES: ""
      ATOM_CHANNEL: "stable"
    docker:
      - image: circleci/node:latest
    steps:
      - attach_workspace:
          at: /tmp
      - run:
          name: Restore build
          command: cp -rT /tmp/build ~/calva
      - run:
          name: Update system package lists
          command: sudo apt-get update
      - run:
          name: Install some pre-requisite packages
          command: sudo apt-get --assume-yes --quiet install curl xvfb libasound2 libgbm-dev
      - run:
          name: Start display server for Atom
          command: /sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -ac -screen 0 1024x768x16 +extension RANDR
          background: true
      - run:
          name: Download Atom build script
          command: |
            cd src/calva-fmt/atom-language-clojure
            curl -s -OL https://raw.githubusercontent.com/atom/ci/master/build-package.sh
      - run:
          name: Make build script executable
          command: |
            cd src/calva-fmt/atom-language-clojure
            chmod u+x build-package.sh
      - run:
          name: Run package tests
          command: |
            cd src/calva-fmt/atom-language-clojure
            ./build-package.sh
      - save_cache:
          name: Save dependencies
          key: ts-{{ checksum "package.json" }}-cljs-{{ checksum "shadow-cljs.edn" }}-grammar-{{ checksum "src/calva-fmt/atom-language-clojure/package.json" }}
          paths:
            - ~/.atom/packages
            - ./node_modules
  prettier-check:
    docker:
      - image: circleci/node:latest
    working_directory: ~/calva
    steps:
      - attach_workspace:
          at: /tmp
      - run:
          name: Restore build
          command: cp -rT /tmp/build ~/calva
      - run:
          name: Run prettier format check
          command: npm run prettier-check
  test-cljslib:
    docker:
      - image: circleci/node:latest
    working_directory: ~/calva
    steps:
      - attach_workspace:
          at: /tmp
      - run:
          name: Restore build
          command: cp -rT /tmp/build ~/calva
      - run:
          name: Run CLJS Tests
          command: npm run calva-lib-test
      - store_test_results:
          path: ~/calva/junit
  test-ts-unit:
    docker:
      - image: circleci/node:latest
    working_directory: ~/calva
    steps:
      - attach_workspace:
          at: /tmp
      - run:
          name: Restore build
          command: cp -rT /tmp/build ~/calva
      - run:
          name: Run TS Unit Tests
          command: npm run unit-test
      - store_test_results:
          path: ~/calva/junit
  test-integration:
    docker:
      - image: circleci/openjdk:11.0.4-stretch-node-browsers
    working_directory: ~/calva
    steps:
      - attach_workspace:
          at: /tmp
      - run:
          name: Restore build
          command: cp -rT /tmp/build ~/calva
      - run:
          name: Compile Extension Tests
          command: npm run compile-test
      - run:
          name: Run Extension Tests
          command: npm run integration-test
      - store_test_results:
          path: ~/calva/junit
  github-release:
    docker:
      - image: cibuilds/github:0.10
    working_directory: ~/calva
    steps:
      - attach_workspace:
          at: /tmp
      - run:
          name: Restore build
          command: cp -rT /tmp/build ~/calva
      - run:
          name: "Publish Release on GitHub"
          command: |
            EXTRA_RELEASE_OPTIONS=""
            if [[ "${CIRCLE_TAG}" =~ ^v([0-9]+\.[0-9]+\.[0-9]+)$ ]]
            then
              echo "Publishing GitHub Release: ${CIRCLE_TAG}"
            else
              echo "Publishing GitHub Prerelease: ${CIRCLE_TAG}"
              EXTRA_RELEASE_OPTIONS=-prerelease
            fi
            [[ "${CIRCLE_TAG}" =~ ^v([0-9]+\.[0-9]+\.[0-9]+) ]]
            TAG_VERSION=${BASH_REMATCH[1]}
            BODY=$(awk '/^## \['${TAG_VERSION}'\]/, /^ *$/ { gsub(/["$]/, "\\\\&"); print }' CHANGELOG.md | tail -n +2)
            echo Changes: "\n" $BODY
            if [ "${IS_LOCAL}" = YES ]
            then
              GHR_CMD=echo
            else
              GHR_CMD=ghr
            fi
            ${GHR_CMD} -t ${GITHUB_TOKEN} ${EXTRA_RELEASE_OPTIONS} -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -b "${BODY}" -c ${CIRCLE_SHA1} -delete ${CIRCLE_TAG} /tmp/artifacts/
  marketplace-publish:
    docker:
      - image: circleci/node:latest
    working_directory: ~/calva
    steps:
      - attach_workspace:
          at: /tmp
      - run:
          name: Restore build
          command: cp -rT /tmp/build ~/calva
      - run:
          name: Publish to the marketplace
          command: |
            VSCE_CMD="vsce publish --packagePath /tmp/artifacts/calva-$(node -p 'require("./package.json").version').vsix -p ${PUBLISH_TOKEN}"
            if [ "${IS_LOCAL}" = YES ]
            then
              echo "Dry npx ${VSCE_CMD}"
            else
              npx ${VSCE_CMD}
            fi
  open-vsx-publish:
    docker:
      - image: circleci/node:latest
    working_directory: ~/calva
    steps:
      - attach_workspace:
          at: /tmp
      - run:
          name: Restore build
          command: cp -rT /tmp/build ~/calva
      - run:
          name: Publish to Open VSX
          command: |
            OVSX_CMD="ovsx publish /tmp/artifacts/calva-$(node -p 'require("./package.json").version').vsix --pat ${OVSX_PUBLISH_TOKEN}"
            if [ "${IS_LOCAL}" = YES ]
            then
              echo "Dry npx ${OVSX_CMD}"
            else
              npx ${OVSX_CMD}
            fi
  merge-dev-to-published:
    docker:
      - image: cimg/node:15.8
    steps:
      - add_ssh_keys:
          fingerprints:
            - "d1:06:ff:c3:58:59:68:6e:a3:2f:69:1d:e2:94:7c:14"
      - checkout
      - run:
          name: Merge dev into published
          command: |
            git config --global user.email $GITHUB_USER_EMAIL
            git config --global user.name $GITHUB_USER_NAME
            git checkout published
            git merge origin/dev -m "Merge branch dev into published"
            git push origin HEAD
  deploy-docs:
    docker:
      - image: cimg/python:3.8-node
    steps:
      - add_ssh_keys:
          fingerprints:
            - "d1:06:ff:c3:58:59:68:6e:a3:2f:69:1d:e2:94:7c:14"
      - checkout
      - run:
          name: Update system package lists
          command: sudo apt-get update
      - run:
          name: Install mkdocs-materials insiders dependencies
          command: |
            sudo apt-get install libcairo2-dev libfreetype6-dev libffi-dev libjpeg-dev libpng-dev libz-dev
      - run:
          name: Install mkdocs and mkdocs-material
          command: |
            pip install mkdocs
            pip install git+https://${GITHUB_MKDOCS_MATERIAL_TOKEN}@github.com/squidfunk/mkdocs-material-insiders.git
      - run:
          name: Deploy docs
          command: |
            git checkout published
            mkdocs gh-deploy --message "[skip ci]" --strict --clean
  bump-dev-version:
    docker:
      - image: cimg/node:15.8
    steps:
      - add_ssh_keys:
          fingerprints:
            - "d1:06:ff:c3:58:59:68:6e:a3:2f:69:1d:e2:94:7c:14"
      - checkout
      - run:
          name: Bump dev version
          command: |
            git config --global user.email $GITHUB_USER_EMAIL
            git config --global user.name $GITHUB_USER_NAME
            git checkout dev
            npm run bump-version
            git add .
            git commit -m "Bring on version $(node -p "require('./package').version")! [skip ci]"
            git push origin HEAD
workflows:
  version: 2
  calva-io-build:
    jobs:
      - deploy-docs:
          filters:
            branches:
              only: published
          context: Calva
  # We have two Calva build workflows, because for some reason the tag filter need to be on all jobs...
  build-test:
    jobs:
      - build:
          filters:
            tags:
              ignore: /^v\d+\.\d+\.\d+-?.*/
      - prettier-check:
          requires:
            - build
      - test-grammar:
          requires:
            - build
      - test-cljslib:
          requires:
            - build
      - test-integration:
          requires:
            - build
      - test-ts-unit:
          requires:
            - build
  release-publish:
    jobs:
      - build:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v\d+\.\d+\.\d+-?.*/
      - prettier-check:
          requires:
            - build
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v\d+\.\d+\.\d+-?.*/
      - test-grammar:
          requires:
            - build
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v\d+\.\d+\.\d+-?.*/
      - test-cljslib:
          requires:
            - build
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v\d+\.\d+\.\d+-?.*/
      - test-integration:
          requires:
            - build
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v\d+\.\d+\.\d+-?.*/
      - test-ts-unit:
          requires:
            - build
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v\d+\.\d+\.\d+-?.*/
      - github-release:
          requires:
            - prettier-check
            - test-grammar
            - test-cljslib
            - test-integration
            - test-ts-unit
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v\d+\.\d+\.\d+-?.*/
          context: Calva
      - marketplace-publish:
          requires:
            - github-release
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v\d+\.\d+\.\d+$/
          context: Calva
      - open-vsx-publish:
          requires:
            - github-release
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v\d+\.\d+\.\d+$/
          context: Calva
      - merge-dev-to-published:
          requires:
            - marketplace-publish
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v\d+\.\d+\.\d+$/
          context: Calva
      - bump-dev-version:
          requires:
            - merge-dev-to-published
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v\d+\.\d+\.\d+$/
          context: Calva
