body.vscode-dark {
    .winnage {
        color: #0f0;
    }

    .match {
        border-color: #777;
        color: tomato;
    }

    .fail-match {
        background-color: #f00;
    }

    .documentation {
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.16);
    }

    .completion {
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.16);
    }

    .completion .icon {
        text-shadow: 0px 1px rgba(0, 0, 0, 0), 0px -1px rgba(0, 0, 0, 0), -1px 0px rgba(0, 0, 0, 0),
            1px 0px rgba(0, 0, 0, 0);
    }

    .completion .icon.ic-macro::before {
        color: #f80;
    }

    .completion .icon.ic-function::before {
        color: #f0f;
    }
    .completion .icon.ic-namespace::before {
        color: #080;
    }
    .completion .icon.ic-special-form::before {
        color: #08a;
    }

    .caret {
        border: solid 1px #aaa;
    }

    .is-focused .caret {
        border: solid 1px rgba(0, 0, 0, 0);
        background-color: #fff;
    }

    .id {
        color: #d4d4d4;
    }

    .kw {
        color: #9cdcfe;
    }

    .comment {
        color: #6a9955;
    }

    .lit {
        color: #b5cea8;
    }

    .str,
    .str-start,
    .str-inside,
    .str-end {
        color: #ce9178;
    }

    .decl {
        color: #c586c0;
    }

    .macro {
        color: #569cd6;
    }

    .stacktrace .stack .name {
        color: #fff;
    }

    .toggle {
        color: #aaa;
    }

    .stacktrace.dup .toggle.dup {
        color: #666;
    }
    .stacktrace.java .toggle.java {
        color: #666;
    }
    .stacktrace.tooling .toggle.tooling {
        color: #666;
    }
    .stacktrace.clj .toggle.clj {
        color: #666;
    }

    .no-source {
        opacity: 0.6;
    }
}