body.vscode-light {
    .winnage {
        color: #0c0;
    }

    .match {
        border-color: #777;
        color:deepskyblue;
    }

    .fail-match {
        background-color: #c00;
    }

    .documentation {
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.16);
    }

    .completion {
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.16);
    }

    .completion .icon {
        text-shadow: 0px 1px rgba(0, 0, 0, 0), 0px -1px rgba(0, 0, 0, 0), -1px 0px rgba(0, 0, 0, 0),
            1px 0px rgba(0, 0, 0, 0);
    }

    .completion .icon.ic-macro::before {
        color: #f80;
    }

    .completion .icon.ic-function::before {
        color: #f0f;
    }
    .completion .icon.ic-namespace::before {
        color: #080;
    }
    .completion .icon.ic-special-form::before {
        color: #08a;
    }

    .caret {
        border: solid 1px #aaa;
    }

    .is-focused .caret {
        border: solid 1px rgba(0, 0, 0, 0);
        background-color: #3b3b3b;
    }

    .id {
        color: #000;
    }

    .kw {
        color: #b9008b;
    }

    .comment {
        color: #008000;
    }

    .lit {
        color: #008d2a;
    }

    .str,
    .str-start,
    .str-inside,
    .str-end {
        color: #a31515;
    }

    .decl {
        color: #c800fa;
    }

    .macro {
        color: #0026ff;
    }

    .stacktrace .stack .name {
        color: #000;
    }

    .toggle {
        color: #555;
    }

    .stacktrace.dup .toggle.dup {
        color: #999;
    }
    .stacktrace.java .toggle.java {
        color: #999;
    }
    .stacktrace.tooling .toggle.tooling {
        color: #999;
    }
    .stacktrace.clj .toggle.clj {
        color: #999;
    }

    .no-source {
        opacity: 0.5;
    }
}
