.output-element-container {
   padding-bottom: 5px;
}

.evaluated-code-container {
   border: solid;
   margin-top: 30px;
}

.border-text {
   display: block;
   float: left;
   clear: left;
   padding-left: 10px;
   padding-right: 10px;
   margin-top: -10px;
   margin-left: 10px;
   background-color: var(--vscode-editor-background);
}
