node_modules/

/target
/checkouts
/src/gen
.cpcache/
/build

pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store

.calva/output-window
.calva/repl.calva-repl
.lsp/.cache
.clj-kondo/.cache