:root > * {
    --calva-amber: #db9550;
    --calva-blue: #90b4fe;
    --calva-cream: #fffaf4;
    --calva-ink: #131722;
    --md-primary-fg-color: var(--calva-amber);
    --md-accent-fg-color: var(--calva-blue);
}

.md-typeset .admonition, .md-typeset details,
.md-typeset .admonition.note, .md-typeset details.note {
    border: 0.075rem solid var(--md-accent-fg-color);
}